@model SEIZA.Models.Orders

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout - S E I Z A</title>
    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles-checkout.css">
</head>
<body>
    <h2 id="process" >Your order number #@ViewBag.orderID is being processed!</h2>
</body>
</html>