@font-face {
    font-family: h4-font;
    src: url("/Content/assets/fonts/Updated/capsuula/capsuula.ttf");
}

@font-face {
    font-family: btn-font;
    src: url("/Content/assets/fonts/Andromeda-eR2n.ttf");
}

body {
    height: 100vh;
    background-image: url(/Content/assets/images/Sec2bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.form-container{
    margin-top: 60px;
    margin-left:20px;
}

.h4text{
    color:#C3C3C3;
    font-family:h4-font;
}

.txtBox {
    font-family: h4-font;
    width:400px;
}
#checkoutBtn{
    font-family: btn-font;
    background: #3b3d3f;
    padding: 0px 5px;
    display: inline-block;
    color: #C3C3C3;
    letter-spacing: 0px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    border: 2px solid black;
    border-color: #C3C3C3;
}
#checkoutBtn:hover {
    color: #4A4A4A;
    background: #C3C3C3;
    box-shadow: 0 0 10px #C3C3C3, 0 0 40px #C3C3C3, 0 0 80px #C3C3C3;
    transition-delay: 0.1s;
    border-color: #4A4A4A;
}
.chkoutBtn {
    display: flex;
    margin-top: 15px;
    margin-right: 20px;
}
